@use "bootstrap-italia/src/scss/bootstrap-italia.scss";
@use "./styles/details";
@use "./styles/fonts";

.it-brand-logo {
  height: 4.8rem;
  width: auto;
  margin-right: 1rem;
  transition:
    height 0.2s ease,
    margin 0.2s ease;
}

img.it-brand-logo {
  height: 4.8rem;
  width: auto;
}
